@using Codesanook.OrganizationProfile.ViewModels
@model AddressDisplayViewModel

@if (!string.IsNullOrWhiteSpace(@Model.HouseNumber))
{
    <span>@Model.HouseNumber,</span>
}

@if (!string.IsNullOrWhiteSpace(@Model.VillageName))
{
    <span>@Model.VillageName</span>
}

@if (@Model.VillageNumber > 0)
{
    <span>@Model.VillageNumber,</span>
}

@if (!string.IsNullOrWhiteSpace(@Model.BuildingName))
{
    <span>@Model.BuildingName</span>
}

@if (@Model.Floor > 0)
{
    <span>@Model.Floor</span>
}

@if (!string.IsNullOrWhiteSpace(@Model.Lane))
{
    <span>@Model.Lane</span>
}

@if (!string.IsNullOrWhiteSpace(@Model.Street))
{
    <span>@Model.Street,</span>
}

@if (!string.IsNullOrWhiteSpace(@Model.Subdistrict))
{
    <span>@Model.Subdistrict</span>
}

@if (!string.IsNullOrWhiteSpace(@Model.District))
{
    <span>@Model.District</span>
}

@if (!string.IsNullOrWhiteSpace(@Model.Province))
{
    <span>@Model.Province</span>
}

@if (!string.IsNullOrWhiteSpace(@Model.ZipCode))
{
    <span>@Model.ZipCode</span>
}
