@using Codesanook.OrganizationProfile.ViewModels
@model AddressDisplayViewModel

@if (!string.IsNullOrWhiteSpace(Model.HouseNumber))
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.HouseNumber).ToString())
        @Model.HouseNumber,
    </span>
}

@if (!string.IsNullOrWhiteSpace(Model.VillageName))
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.VillageName).ToString())
        @Model.VillageName
    </span>
}

@if (Model.VillageNumber > 0)
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.VillageNumber).ToString())
        @Model.VillageNumber,
    </span>
}

@if (!string.IsNullOrWhiteSpace(Model.BuildingName))
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.BuildingName).ToString())
        @Model.BuildingName
    </span>
}

@if (!string.IsNullOrWhiteSpace(Model.RoomNumber))
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.RoomNumber).ToString())
        @Model.RoomNumber
    </span>
}

@if (Model.Floor.HasValue)
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.Floor).ToString())
        @Model.Floor
    </span>
}

@if (!string.IsNullOrWhiteSpace(Model.Lane))
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.Lane).ToString())
        @Model.Lane
    </span>
}

@if (!string.IsNullOrWhiteSpace(Model.Street))
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.Street).ToString())
        @Model.Street,
    </span>
}

@if (!string.IsNullOrWhiteSpace(Model.Subdistrict))
{
    @T(Html.DisplayNameFor(m => m.Subdistrict).ToString())
    <span>@Model.Subdistrict</span>
}

@if (!string.IsNullOrWhiteSpace(Model.District))
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.District).ToString())
        @Model.District
    </span>
}

@if (!string.IsNullOrWhiteSpace(Model.Province))
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.Province).ToString())
        @Model.Province
    </span>
}

@if (!string.IsNullOrWhiteSpace(Model.ZipCode))
{
    <span class="text-nowrap">
        @T(Html.DisplayNameFor(m => m.ZipCode).ToString())
        @Model.ZipCode
    </span>
}
