@using Codesanook.OrganizationProfile.ViewModels
@model AddressDisplayViewModel

<div>HouseNumber: @Model.HouseNumber</div>
<div>VillageName: @Model.VillageName</div>
<div>VillageNumber: @Model.VillageNumber</div>
<div>BuildingName: @Model.BuildingName</div>
<div>Floor: @Model.Floor</div>
<div>Lane: @Model.Lane</div>
<div>Street: @Model.Street</div>
<div>Subdistrict: @Model.Subdistrict</div>
<div>District: @Model.District</div>
<div>Province: @Model.Province</div>
<div>ZipCode: @Model.ZipCode</div>
