@using Codesanook.OrganizationProfile.Controllers
@using Codesanook.OrganizationProfile.Models
@using Orchard.Core.Settings.Models
@using Orchard.ContentManagement

@{
    Layout.Title = "Contact us";
    var organizationProfileSettingPart = Model.Setting as OrganizationProfileSettingPart;
    var siteSettingsPart = organizationProfileSettingPart.As<SiteSettingsPart>();
}

<div class="container">
    <h4><span>@siteSettingsPart.SiteName</span></h4>
    <div class="row">
        @if (organizationProfileSettingPart.ShowContactUsForm)
        {
            <div class="col-sm col-12">
                <div class="full-width-contents">
                    <div class="entry-content">
                        <h2>@T("Contact us")</h2>
                        @* https://getbootstrap.com/docs/4.0/components/forms/#help-text *@
                        <small class="form-text text-muted">
                            @T("Please fill your contact information, message and click send button to contact us.")
                        </small>
                    </div>
                    <div>
                        @Html.ValidationSummary(
                          true,
                          "Please fix errors and then click send button again."
                      )
                    </div>
                    @using (Html.BeginFormAntiForgeryPost(Url.Action(nameof(ContactUsController.Index))))
                    {
                        @*
                            Model is a Shape.
                            Calling Display() to render a shape using the most specific template for its Shape type
                        *@
                        @Display(Model.ContactForm)
                    }
                </div>
            </div>
        }
        <div class="col-sm col-12">
            @*Hold contact information content item which contains ContactInformationPart, AddressPart, social link*@
            @Display(Model.ContactInformation)
        </div>
    </div>
</div>

