@using Codesanook.OrganizationProfile.Models
@model ContactFormPart

<div class="form-group">
    @Html.TextBoxFor(
        m => m.Name,
        new
            {
            @class = "form-control input-contact-us",
            placeholder = T(Html.DisplayNameFor(m => m.Name).ToString())
        }
    )
    @Html.ValidationMessageFor(m => m.Name)
</div>

<div class="form-group">
    @Html.TextBoxFor(
        m => m.EmailAddress,
        new
            {
                type = "email",
            @class = "form-control input-contact-us",
            placeholder = T(Html.DisplayNameFor(m => m.EmailAddress).ToString())
        }
    )
    @Html.ValidationMessageFor(m => m.EmailAddress)
</div>

<div class="form-group">
    @Html.TextBoxFor(
        m => m.MobilePhoneNumber,
        new
            {
                type = "tel",
            @class = "form-control  input-contact-us",
            placeholder = T(Html.DisplayNameFor(m => m.MobilePhoneNumber).ToString())
        }
    )
    @Html.ValidationMessageFor(m => m.MobilePhoneNumber)
</div>

<div class="form-group">
    @Html.TextAreaFor(
        m => m.Message,
        new {
            @class = "form-control input-contact-us",
            placeholder = T(Html.DisplayNameFor(m => m.Message).ToString()),
            rows = 3
        }
    )
    @Html.ValidationMessageFor(m => m.Message)
</div>

<button type="submit" class="btn-submit-contact-us mb-4">Send</button>
